body {
  background-color: #000;
  /* background: url(../Home/images/back_email.gif); */
  /* background-size: cover; */
}

.cameraGrid {
  width: 100%;
}

.camera {
  width: 100%;
  height: 100%;
}

.camera3Canvas {
  display: none;
}
