body {
  /* background-color: #000; */
  /* background: url(../Home/images/back_email.gif); */
  /* background-size: cover; */
}

.cameraGrid {
  background-color: #000;
  width: 100%;
  height: 100vh;
}

.camera {
  width: 100%;
  height: 100%;
}
