@import url('https://fonts.googleapis.com/css?family=Carme|Proza+Libre|Rajdhani&display=swap');

body {
  background-color: #EEE;
}
body.active {
  background-image: url(./images/back_email.jpg);
  background-repeat: none;
  background-size: cover;
}

.albumCover {
  display: block;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 100px;

  border: 1px solid rgba(0,0,0,0.18);
}
.albumCover:hover,
.tickets:hover {
  box-shadow: 2px -2px 153px #ff6c52,
  -2px 2px 153px #ff6c52,
  2px 2px 153px #ff6c52,
  -2px -2px 153px #ff6c52;
  transition: 1s;
}

body.active .albumCover:hover,
body.active .tickets:hover {
  box-shadow: none;
  transition: none;
}

.home {
  position: relative;
  /* z-index: -200; */
  height: 100vh;
  /* width: 100vw; */
  /* margin: 50px; */
  /* padding-top: 11vh; */
  padding-bottom: 200px;
  /* padding-left: 11vh; */

  /* background-color: #ff9968; */
  text-transform: lowercase;

  font-family: 'Rajdhani', sans-serif;
  font-size: 3vh;

  color: #333;
}


body.active .home {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.69), -1px -1px 2px rgba(0,0,0,0.69);
}

.home a {
  text-decoration: none;
  color: #333;
  text-shadow: none;
}

.home h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 8vh;
  margin-bottom: 50px;

  /* font-family: 'Russo One', sans-serif; */
  /* font-family: 'Poiret One', cursive; */
  /* font-family: 'Armata', sans-serif; */
  /* font-family: 'Audiowide', cursive; */
  /* font-family: 'Allerta Stencil', sans-serif; */
  /* font-family: 'Days One', sans-serif; */
  /* font-family: 'Michroma', sans-serif; [> GOOD <] */
  /* font-family: 'Electrolize', sans-serif; */
  /* font-family: 'Aldrich', sans-serif; */
  /* font-family: 'Carme', sans-serif; *//* GOOD */
  /* font-family: 'Bungee Inline', cursive; */
  font-family: 'Proza Libre', sans-serif; /* GOOD
  /* font-family: 'Kodchasan', sans-serif; */
  /* font-family: 'KoHo', sans-serif; */

  vertical-align: middle;
  line-height: normal;
  letter-spacing: -0.05em;
  font-weight: normal;
}

.home h2 {
  font-weight: normal;
  font-size: 5vh;
  text-align: center;
  margin: 100px;
}

.home .info {
  display: flex;
  /* width: 24vw; */
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 100px;
}

.home .info p {
  margin: 0;
  padding: 25px;
  /* padding-left: 0; */
}

.home .tickets {
  text-align: center;

  border: 2px dotted #333;
  border-radius: 200px;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.home .tickets a {
  position: relative;
  top: 68px;
}
body.active .home .tickets {
  background: linear-gradient(-36deg, rgba(255,108,82,1) 14%, rgba(255,188,93,1) 100%);
  border: 1px solid #333;
}

.home .backing {
  display: none;
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -100;
}

@media screen and (max-width: 1000px) {

  body {
    background-image: url(./images/back_email.jpg);
    background-repeat: none;
    background-size: cover;
  }
  .albumCover {
    display: none;
    width: 60%;
  }
  .home .backing {
    display: block;
  }

  .home {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.69), -1px -1px 2px rgba(0,0,0,0.69);
  }

  .home .tickets {
    background: linear-gradient(-36deg, rgba(255,108,82,1) 14%, rgba(255,188,93,1) 100%);
    border: 1px solid #333;
  }
}

body.active .home .backing {
  display: block;
}
